.road-block {
  & .challenge {
    display: flex;
    flex-direction: column;
  }
  & .instruction {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    flex-direction: row;
    align-items: center;
    & .icon {
      font-size: 30px;
      display: flex;
      position: relative;
      padding: 0;
      margin: 0;
      right: 10px;
    }
  }
}
