$dark: #2b2b2b;
$light: #f7f7f7;

/* Color Theme Swatches in Hex */
$lYellow: #fabc05;
$lBlue: #0462c0;
$lPurple: #ad04c0;
$lGreen: #47ae72;

$dOrange: #fa7805;
$dBlue: #405d7a;
$dBrown: #7a6c40;
$dPurple: #3d2167;
$dGreen: #245739;
