.race-overview {
  & .closed-sidebar,
  .opened-sidebar {
    border-right: 1px solid #9c9c9c;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    height: 100%;
    & button {
      border: 0;
      background-color: #f6f6;
      width: fit-content;
      height: fit-content;
      padding: 3px;
      font-size: 2em;
      &:hover {
        background-color: aquamarine;
      }
    }
  }

  & .closed-sidebar {
    flex: none;
    & .top {
      display: flex;
      flex-direction: column;
      & button {
        width: fit-content;
      }
    }
  }

  & .opened-sidebar {
    flex-grow: 0.3;
    & .top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
