.error-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  & h1 {
    margin-bottom: 0;
  }
  & span {
    background-color: #333333;
    color: white;
    padding: 20px;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 7px;
  }
}
