.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-top: 4px solid #6f6f6f;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 6px;

  & .footer-buttons {
    color: #6f6f6f;
    text-decoration: underline;

    &:hover {
      color: blue;
      text-decoration: line-through;
    }
  }
}
