@import '../../theme/theme.scss';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $lYellow;
  border-top: 4px solid $dBrown;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 6px;

  & .footer-buttons {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    background-color: $dark;
    color: $light;
    width: 170px;
    &:hover {
      background-color: $dBlue;
    }
  }
}
